# Copy this to .env and adjust values.
# DO NOT commit your .env file.

BASE_URL=
TEST_ENV=

TEST_USER_USERNAME=
TEST_USER_ID=
TEST_USER_SCOPES=

TEST_ADMIN_USERNAME=
TEST_ADMIN_ID=
TEST_ADMIN_SCOPES=